@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base text-white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* hide the scrollbar on the horizontal movie rows */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
